
@{
	ViewBag.Title = "UserMusteri";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form id="Form1" runat="server">
	<h1>Profilim</h1>
	<br />
	<br />
	<table class="table table-hover">
		<tbody>
			@foreach (var mstr in Model)
			{
				<tr><th>Telefon Numarası: </th><td>@mstr.MusteriTelefon</td></tr>
				<tr><th>Ad: </th><td>@mstr.MusteriAd</td></tr>
				<tr><th>Soyad: </th><td>@mstr.MusteriSoyad</td></tr>
				<tr><th>Şifre: </th><td>@mstr.MusteriSifre </td></tr>
				<tr><th>Hesap Durumu: </th><td>@ViewBag.HesapDurumu </td></tr>
				<tr>
					<td>
						<a href="SifreGuncelle" class="btn btn-warning">Şifre Değiştir!</a>
					<td>
						@if (ViewBag.MusteriDurum == true)
						{
							<a href="MusteriSil" class="btn btn-danger">Profili Dondur!</a>
						}
						else if (ViewBag.MusteriDurum == false)
						{
							<a href="MusteriAktive" class="btn btn-success">Profili Aktive Et!</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>