@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>@ViewBag.Category Kategorisine Ait Ürünler</h1>
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Fiyat</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <td>@urn.UrunAd</td>
                <td>@urn.UrunMarka</td>
                <td>@urn.UrunStok</td>
                <td>@urn.Fiyat</td>
                <td>
                    <a href="/Urunler/UrunSil/@urn.UrunId" class="btn btn-danger">Sil</a>
                    <a href="/Urunler/UrunGetir/@urn.UrunId" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
